# ignore created keys
ssh/sciplay/*
ssh/git/*

# keep directories in repositories
!ssh/sciplay/.gitkeep
!ssh/git/.gitkeep

# ignore known_hosts
known_hosts

# ignore emacs downloads
emacs.d/*
!emacs.d/src
!emacs.d/init.el
