# ignore created keys
ssh/aws/*
ssh/git/*
ssh/linode/*

# keep directories in repositories
!ssh/sciplay/.gitkeep
!ssh/git/.gitkeep

# ignore known_hosts
known_hosts

# vim
vim/.init.vim-rplugin~
vim/.netrwhist
