# ignore created keys
ssh/sciplay/*
ssh/git/*
ssh/linode/*

# keep directories in repositories
!ssh/sciplay/.gitkeep
!ssh/git/.gitkeep

# ignore known_hosts
known_hosts

# nvim
nvim/autoload
nvim/plugged
